$primary-color: #282d30;
$primary-color-opacity: #282d30e1;
$color-menu-mobile-button: rgba(54, 59, 61, 0.795);

$primary-text-color: #ed6c51;
$secundary-text-color: #ebebe1;

$gradient-text-color: linear-gradient(to bottom right, #ff3431, #fbc597);